textarea {
    width: 60vw;
    height: 25vh;
    resize: vertical;
    border: 2px solid rgb(169, 159, 159);

}

/* div {
    border: 1px solid black;
} */

p {
    margin: 0px;
}

.text {

    vertical-align: top;
    /* 保持元素顶部对齐 */
}

.menuBar,
.content {
    display: inline-block;
    vertical-align: top;
}

.menuBar {
    margin-left: 10px;
}

.container {

    margin: 100px auto;
}

.autoFit {
    width: fit-content;
    height: fit-content;
}

ul {
    list-style-type: none;
    padding: 5px;
    border: 2px solid rgb(169, 159, 159);
}

ul li * {
    margin: 5px auto;
    width: 15vw;
    height: 5vh;
    text-align: center;
    display: justify;
}

.settings,
.operate {
    margin: 10px auto;
    /* border: 2px solid rgb(169, 159, 159); */
}